@model ck283615_MIS4200.Models.Operation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Operation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.operationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.operationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operationDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.operationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
